<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find cylinder_robot)/worlds/cylinder.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <!-- <node pkg="rviz" name="rviz" type="rviz" args="-d $(find cylinder_robot)/config/rvizConfig.rviz"/> -->
  <node pkg="cylinder_robot" name="driver" type="driver.py" output="screen" respawn="false"/>
  <node pkg="cylinder_robot" name="controller" type="controller.py" output="screen" respawn="false"/>
  <node pkg="cylinder_robot" name="perception" type="perception.py" output="screen" respawn="false"/>
</launch>

